@font-face {
  font-family: 'Futura PT Book';
  src: url('./assets/fonts/FuturaPT-Book.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('./assets/fonts/FuturaPT-Demi.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('./assets/fonts/FuturaPT-Heavy.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('./assets/fonts/FuturaPT-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'Galdeano';
  src: url('./assets/fonts/Galdeano-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format("ttf");
}


:root {
  --orange: #f60;
  --black: #172139;
  --seryy: #f4f4f4;
  --belyy: #fff;
  --grey: #aeaeae;
  --futura-book: 'Futura PT Book';
  --futura-demi: 'Futura PT Demi';
  --futura-heavy: 'Futura PT Heavy';
  --futura-medium: 'Futura PT Medium';
  --galdeano: 'Galdeano';
  --montserrat-regular: 'Montserrat Regular';
  --montserrat-medium: 'Montserrat Medium';
  --montserrat-bold: 'Montserrat Bold';
}

body {
  margin: 0;
  padding: 0;
}

