@font-face {
  font-family: 'Futura PT Book';
  src: url('./assets/fonts/FuturaPT-Book.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('./assets/fonts/FuturaPT-Demi.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('./assets/fonts/FuturaPT-Heavy.ttf') format("ttf");
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('./assets/fonts/FuturaPT-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'Galdeano';
  src: url('./assets/fonts/Galdeano-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format("ttf");
}

:root {
  --orange: #f60;
  --black: #172139;
  --seryy: #f4f4f4;
  --belyy: #fff;
  --grey: #aeaeae;
  --futura-book: 'Futura PT Book';
  --futura-demi: 'Futura PT Demi';
  --futura-heavy: 'Futura PT Heavy';
  --futura-medium: 'Futura PT Medium';
  --galdeano: 'Galdeano';
  --montserrat-regular: 'Montserrat Regular';
  --montserrat-medium: 'Montserrat Medium';
  --montserrat-bold: 'Montserrat Bold';
}

body {
  margin: 0;
  padding: 0;
  background: var(--seryy);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  min-height: 1243px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  width: 100%;
  height: 79px;
  box-sizing: border-box;
  padding: 14px 31px 20.73px 15px;
  justify-content: flex-start;
  background-color: var(--belyy);
}

.header__logo {
  width: 19px;
  height: 33px;
  align-self: flex-end;
}

.header__title {
  display: flex;
  width: 37.5px;
  height: 17px;
  padding-left: 8.17px;
  justify-content: center;
  align-content: center;
}

.header__title-text {
  width: 37.5px;
  height: 17px;
  box-sizing: border-box;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  font-family: var(--futura-heavy), sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--belyy);
  background-color: var(--orange);
  border-radius: 4px;
}

.header__entrance {
  align-self: center;
  width: 16px;
  height: 14px;
  margin-top: 5px;
  margin-left: auto;
}

.main {
  display: flex;
  width: 100%;
  min-height: 1060px;
  margin-top: 30px;
  justify-content: flex-start;
  gap: 30px;
}

.main__navigation {
  width: 290px;
  height: 446px;
}

.main__navigation-menu {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 1px;
}

.main__navigation-item {
  display: flex;
  height: 62px;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background-color: var(--belyy);
  color: var(--black);
}

.main__navigation-item:hover {
  background-color: var(--black);
  color: var(--belyy);
}

.main__navigation-icon {
  width: 15px;
  height: auto;
}

.main__navigation-text {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.main__navigation-btn {
  display: flex;
  width: 100%;
  height: 62px;
  margin-top: 1px;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border: none;
  background-color: var(--belyy);
  color: var(--orange);
}

.main__navigation-btn:hover {
  background-color: var(--black);
  color: var(--belyy);
}

.main__navigation-arrow {
  width: 10px;
  height: 7px;
}

.main__navigation-show {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.main__block {
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--belyy);
}

.footer__information {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer__information-text {
  font-family: var(--montserrat-regular), sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #a5a5a5;
}

/* Main view styles */

.main__route {
  margin: 0 0 18px;
  font-family: var(--futura-medium), sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}

.main__location-menu {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.main__location-all {
  display: flex;
  padding: 10px 30px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background: var(--belyy);
  color: var(--black);
}

.main__location-all:hover {
  background: var(--black);
  color: var(--belyy);
}

.main__location-btn {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.main__location-update {
  display: flex;
  margin-left: auto;
  padding: 15px 18px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--belyy);
}

.main__location-upd {
  width: 20px;
  height: 20px;
}

.main__location-sync {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main__location-date {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main__location-bar {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  justify-content: space-between;
}

.main__location-create {
  display: flex;
  height: 50px;
  padding: 18px 51px;
  gap: 10px;
  border: none;
  border-radius: 5px;
  color: var(--belyy);
  background: var(--black);
}

.main__location-searcher {
  display: flex;
  width: 580px;
  justify-content: space-between;
  align-self: center;
}

.main__criteria-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.main__criteria-checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: var(--orange);
}

.main__criteria-checkbox::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 0;
  height: 0;
  background-image: url("./assets/svg/check.svg");
  background-repeat: no-repeat;
}

.main__criteria-checkbox:checked::after {
  width: 10px;
  height: 8px;
}

.main__criteria-label {
  font-family: var(--montserrat-regular), sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.main__input-icon {
  position: relative;
  z-index: 0;
  width: 300px;
  height: 50px;
}

.main__input-icon::before {
  position: absolute;
  z-index: 2;
  content: image-set('./assets/svg/search.svg' 1x);
  top: 18px;
  left: 20px;
  width: 13px;
  height: 13px;
  fill: var(--grey);
}

.main__input-search {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 36px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.main__input-search::placeholder {
  font-family: var(--futura-demi), sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey);
}

/* missing functional styles */

.main__none-wrapper {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.main__none-element {
  font-family: var(--futura-heavy), sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey);
}